---
layout: publication
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  <div class="publication-container">
    <div class="publication-image">
      {% if post.image %}
        <img src="{{ post.image }}" alt="Cover image for {{ post.title }}">
      {% endif %}
    </div>
    <div class="publication-text">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </div>
  </div>
{% endfor %}
